extends layout

block content
  body(style="overflow-x: hidden; background-image: url('/images/light.png');" onLoad="saveLocation() ")
    div#topBanner
      a#toggleMenu.toggle(href="#sidr")
        img(src="/images/hamborger.png" alt="test" style="height: 25px; width: auto;")
      p(style="color: white; font-size: 1.2em;") #{title}  
      
    div#sidr
          p.navLogo(style="text-align: center; font-size: 1.8em; margin-top: 15px;") Surveyor
          ul
            li
                a(href='/profile')
                  img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" style="border-radius: 99%; width: 45px; height: auto; margin-top: -5px;")
                  | &nbsp;Tom Vanderheyden 
            //- li
            //-   a(href="/main") Dashboard 
            li.active.toggle
              a(href="/discover") Discover 
            li
              a(href="/record") Record



    div.Pad#dashboardContent2
      p &nbsp;
      h3.div_text_shadow(style="margin-top: -7.5px; color: white;") In your neighbourhood...
    div.Pad(style="background-color: #009688; height: 175px; margin-top: 0px; padding-left: 15px; padding-right: 15px;")
      div(style="background-color: #00796b; height: 150px; position: relative; top: 12.5px;")
          img(src="/images/map2.jpg" style="width: 120px; height: auto; border-radius: 99%; border: 5px solid white; float: left; margin-left: 5px; margin-top: 2px;")
          img.avatarThumb(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" alt="g" style="z-index: 999; position: absolute; bottom: 25px; left: 2px;")
          div(style="left: 5px; position: relative;")
            p(style="font-size: 1.11em; padding-top: 5px; color: white;") "Mechelen - Mortsel"
              span(style="font-size: 0.7em; color: white;") &nbsp;(35km)
            p(style="position: relative; left: 5px; color:white;") Photos (3):
            div(style="height: 60px; top: -10px; left: 5px; position: relative;")
              img.thumb(src="/images/insta1.jpg", alt="g")
              img.thumb(src="/images/insta4.jpg", alt="g")
              img.thumb(src="/images/insta3.jpg", alt="g")
            p(style="color: white;") Tom V.

    div.Pad(style="background-color: #009688; height: 175px; margin-top: -5px; padding-left: 15px; padding-right: 15px;")
      div(style="background-color: #00796b; height: 150px; position: relative; top: 12.5px;")
          img(src="/images/map2.jpg" style="width: 120px; height: auto; border-radius: 99%; border: 5px solid white; float: left; margin-left: 5px; margin-top: 2px;")
          img.avatarThumb(src="/images/uiface3.png" alt="g" style="z-index: 999; position: absolute; bottom: 25px; left: 2px;")
          div(style="left: 5px; position: relative;")
            p(style="font-size: 1.11em; padding-top: 5px; color: white;") "Roadtrip 2015"
              span(style="font-size: 0.7em; color: white;") &nbsp;(117km)
            p(style="position: relative; left: 5px; color:white;") Photos (18):
            div(style="height: 60px; top: -10px; left: 5px; position: relative;")
              img.thumb(src="/images/insta1.jpg", alt="g")
              img.thumb(src="/images/insta4.jpg", alt="g")
              img.thumb(src="/images/insta3.jpg", alt="g")
            p(style="color: white;") Pieter T.

    div.Pad(style="background-color: #009688; height: 175px; margin-top: 0px; padding-left: 15px; padding-right: 15px;")
      div(style="background-color: #00796b; height: 150px; position: relative; top: 12.5px;")
          img(src="/images/map2.jpg" style="width: 120px; height: auto; border-radius: 99%; border: 5px solid white; float: left; margin-left: 5px; margin-top: 2px;")
          img.avatarThumb(src="/images/uiface2.jpg" alt="g" style="z-index: 999; position: absolute; bottom: 25px; left: 2px;")
          div(style="left: 5px; position: relative;")
            p(style="font-size: 1.11em; padding-top: 5px; color: white;") "Shibuya, Tokyo walk"
              span(style="font-size: 0.7em; color: white;") &nbsp;(17km)
            p(style="position: relative; left: 5px; color:white;") Photos (8):
            div(style="height: 60px; top: -10px; left: 5px; position: relative;")
              img.thumb(src="/images/insta1.jpg", alt="g")
              img.thumb(src="/images/insta4.jpg", alt="g")
              img.thumb(src="/images/insta3.jpg", alt="g")
            p(style="color: white;") Annemarie C.



    .float-button
      a(href="/record")
        p.content +