extends layout

block content
  body(onLoad="saveLocation()")

  div#wrapperHome(style="padding-top: 50px;") 
    div#CtA.Pad
      h1(style="color: white;")= title
      p(style="color: white;") Welcome to #{title}
      br
      br
      br
      h3(style="color: white;") Surveyor
      p(style="color: white;") bla bla bla
      br
      br
      br
      div#signUp
        button Sign in with Facebook
