doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/fonts/capsuula.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')   
    link(rel='stylesheet', href='/stylesheets/jquery.sidr.light.css')
    link(rel='stylesheet', href='/stylesheets/materialdesignicons.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,500', rel='stylesheet', type='text/css')


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='http://maps.google.com/maps/api/js?sensor=false', type='text/javascript')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/javascripts/locator.js')
    script(src='/javascripts/menu_controls.js')
    script(src='/javascripts/twitter.js')
    script(src='/javascripts/jquery.sidr.min.js')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
  body
    block content