extends layout

block content
  body(style="background-image: url('/images/cloud.png');" onLoad="saveLocation()")
    div#topBanner
      a#toggleMenu.toggle(href="#sidr")
        img(src="/images/hamborger.png" alt="test" style="height: 25px; width: auto;")
      p(style="color: white; font-size: 1.2em;") #{title}  
      
    div#sidr
          p.navLogo(style="text-align: center; font-size: 1.8em; margin-top: 15px;") Surveyor
          ul
            li
                a(href='/profile')
                  img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" style="border-radius: 99%; width: 45px; height: auto; margin-top: -5px;")
                  | &nbsp;Tom Vanderheyden 
            //- li.active.toggle
            //-   a.toggle(href="/main" disabled="disabled") Dashboard 
            li
              a(href="/discover") Discover 
            li
              a(href="/record") Record


    div.content.Pad
      p Welcome to #{title}
      a(href="/") Surveyor
    .float-button
      a(href="/record")
        p.content +