extends layout

block content
  body.bodyColor(onLoad="saveLocation()" style="overflow-x: hidden; background-image: url('/images/light.png');")
    div#topBanner
      a#toggleMenu.toggle(href="#sidr")
        img(src="/images/hamborger.png" alt="test" style="height: 25px; width: auto;")
      p(style="color: white; font-size: 1.2em;") #{title}  
      
    div#sidr
          p.navLogo(style="text-align: center; font-size: 1.8em; margin-top: 15px;") Surveyor
          ul
            li.active.toggle
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" style="border-radius: 99%; width: 45px; height: auto; margin-top: -5px;")
                  | &nbsp;Tom Vanderheyden 
            //- li
            //-   a(href="/main") Dashboard 
            li
              a(href="/discover") Discover 
            li
              a(href="/record") Record             

    div(style="background-color: #009688; overflow: auto; z-index: -999px;")
    div(style="padding-left: 15px;")#dashboardContent
      img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/73.jpg" style="border-radius: 100%; border: solid 3px white; margin-top: 115px; position: absolute; width: 95px; height: 95px; overflow:hidden;")     
      h3.div_text_shadow(style="position: absolute; top: 198px; left: 115px; height: 15px; font-family: 'Roboto', sans-serif; font-size: 1.79em; font-weight: 300;") Tom Vanderheyden

    div.Pad(style="background-color: #009688; height: 55px; margin-top: 0px;")
      img(src="/images/locationpin.png" style="width: 11px; height: auto; margin-left: 65px; margin-top: 35px;")
      span(style="font-size: 0.8em; color: white; height: 15px; position: relative; top: 20px; font-style: italic;").location-field-profile
      span(style="font-size: 0.8em; color: white; height: 15px; position: relative; top: 20px; font-style: italic;")&nbsp;&nbsp;~&nbsp;&nbsp;80km travelled&nbsp;&nbsp;~&nbsp;&nbsp;Likes cities
    
    div.Pad(style="background-color: #00796b; height: 55px; padding-top: 12.5px; margin-top: 0px;")
      div(style="width: 125px; height: 30px; border-radius: 4px; border: 2px solid white; float: left; text-align: center;")
        span(style="top: 5.5px; position: relative; color: white;") Follow+
      div(style="width: 125px; height: 30px; border-radius: 4px; border: 2px solid white; float: right; text-align: center;")
        span(style="top: 5.5px; position: relative; color: white;") Message
    
    div.Pad(style="background-color: #009688; height: 150px; margin-top: 0px; padding-left: 15px; padding-right: 15px;")
      div(style="background-color: #00796b; height: 125px; position: relative; top: 12.5px;")
        img(src="/images/map2.jpg" style="width: 120px; height: auto; border-radius: 99%; border: 5px solid white; float: left; margin-left: 5px; margin-top: 2px;")
        div(style="left: 5px; position: relative;")
          p(style="font-size: 1.11em; padding-top: 5px; color: white;") "Mechelen - Mortsel"
            span(style="font-size: 0.7em; color: white;") &nbsp;(35km)
          p(style="position: relative; left: 5px; color:white;") Photos (3):
          div(style="height: 60px; top: -10px; left: 5px; position: relative;")
            img.thumb(src="/images/insta1.jpg", alt="g")
            img.thumb(src="/images/insta4.jpg", alt="g")
            img.thumb(src="/images/insta3.jpg", alt="g")

    div.Pad(style="background-color: #009688; height: 150px; margin-top: 0px; padding-left: 15px; padding-right: 15px;")
      div(style="background-color: #00796b; height: 125px; position: relative; top: 12.5px;")
        img(src="/images/map2.png" style="width: 120px; height: auto; border-radius: 99%; border: 5px solid white; float: left; margin-left: 5px; margin-top: 2px;")
        div(style="left: 5px; position: relative;")
          p(style="font-size: 1.11em; padding-top: 5px; color: white;") "Berlin"
            span(style="font-size: 0.7em; color: white;") &nbsp;(27km)
          p(style="position: relative; left: 5px; color:white;") Photos (2):
          div(style="height: 60px; top: -10px; left: 5px; position: relative;")
            img.thumb(src="/images/inst6.jpg", alt="g")
            img.thumb(src="/images/inst7.jpg", alt="g")
            img.thumb(src="/images/inst5.jpg", alt="g")
    div(style="background-color: #009688; height: 60px; overflow: auto; z-index: -999px;")

    .float-button
      a(href="/record")
        p.content +

    div(style="display: none;")
      div#map(style="display: none;")
      div#locationField(style="display: none; !important")