extends layout

block content
  body(onLoad="saveLocation()" style="background-image: url('/images/cloud.png');")
    div#topBanner
      a#toggleMenu.toggle(href="#sidr")
        img(src="/images/hamborger.png" alt="test" style="height: 25px; width: auto;")
      p(style="color: white;") #{title}  
      
    div#sidr
          p.navLogo(style="text-align: center; font-size: 1.8em; margin-top: 15px;") Surveyor
          ul
            li
                a(href='/profile')
                  img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" style="border-radius: 99%; width: 45px; height: auto; margin-top: -5px;")
                  | &nbsp;Tom Vanderheyden 
            //- li
            //-   a(href="/main") Dashboard 
            li
              a(href="/discover") Discover 
            li.active.toggle
              a(href="/record") Record


    //- div.content.Pad#dashboardContent
    //-   p Welcome to #{title}
    //-   a(href="/") Surveyor

    //- .float-button
    //-   a(href="")
    //-     p.content +

    div#map(style="width: 100%; height: 205px; top: 43px; display: block;")
    br
    div#mapSeparator(style="background-color: #009688; z-index: 500; width: 100%; margin-bottom: 20px; height: 50px; display: table; text-align: center;")
      h4.Pad(style="height: 50px; text-align: center; ; color: white; font-weight: regular; position: absolute; display: table-cell; vertical-align: middle;")#locationField
      span#chevronUp.glyphicon.glyphicon-chevron-up(style= "float: right; display: table-cell; vertical-align: middle; margin-top: 12.5px; margin-right: 10px; color: white; font-size: 1.5em;")
      span#chevronDown.glyphicon.glyphicon-chevron-down(style= "float: right; display: table-cell; vertical-align: middle; margin-top: 12.5px; margin-right: 10px; color: white; font-size: 1.5em; display: none;")
    div.mapControls
        h4.Pad.controlsOption High-accuracy mode&nbsp;
          i.mdi.mdi-information-outline(href="" disabled).controlsHelp#controlsHelp1
          i(style="height: 5px; width: auto;").info.icon
          input.controlsCheckbox(type="checkbox")
      div.infoBox.Pad#infoBox1
        p Poll GPS sattelites more frequently (once per 90 seconds). Consumes more data and battery.
      hr
    div.mapControls
        h4.Pad.controlsOption Allow photo geotags&nbsp;
          i.mdi.mdi-information-outline(href="").controlsHelp#controlsHelp2
          i(style="height: 5px; width: auto;").info.icon
          input.controlsCheckbox(type="checkbox")
      div.infoBox.infoBoxAlt.Pad#infoBox2
        p Allows Surveyor to use your personal photos with geotags to pin them on the map. Geotagging must be turned on in your camera settings.
      hr
    div.mapControls
          h4.Pad.controlsOption Check in automatically&nbsp;
            i.mdi.mdi-information-outline(href="").controlsHelp#controlsHelp3
            i(style="height: 5px; width: auto;").info.icon
            input.controlsCheckbox(type="checkbox")
        div.infoBox.Pad#infoBox3
          p Automatically checks you in when idle for 20 minutes near a known restaurant, venue etc.
        hr
    div.mapControls
          h4.Pad.controlsOption Publish report automatically&nbsp;
            i.mdi.mdi-information-outline(href="").controlsHelp#controlsHelp4 
            i(style="height: 5px; width: auto;").info.icon
            input.controlsCheckbox(type="checkbox")
        div.infoBox.Pad#infoBox4
          p Automatically publishes your report to your Surveyor page. Only your friends can see this by default.
        hr
    div.mapControls
          h4.Pad.controlsOption Use Instagram&nbsp;
            i.mdi.mdi-information-outline(style="").controlsHelp#controlsHelp5
            i(style="height: 5px; width: auto;").info.icon
            a.btn.btn-social.btn-instagram(style="float: right; bottom: 7.5px;")
              i.fa.fa-instagram(style="float: left;")
              span(style="font-size: 0.9em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin-left: -5px;") Link Instagram
        div.infoBox.infoBoxAlt.Pad#infoBox5
          p Uploads geotagged Instagram pictures taken during recording to your report. You must be logged in on Instagram for this to work.
        hr
    div.mapControls
          h4.Pad.controlsOption Tweet location&nbsp;
            i.mdi.mdi-information-outline(href="" style="").controlsHelp#controlsHelp6
            i(style="height: 5px; width: auto;").info.icon
            a.TweetLink.btn.btn-social.btn-twitter(href="" style="float: right; bottom: 7.5px;")
              i.fa.fa-twitter(style="float: left;")
              span(style="font-size: 0.9em; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin-left: -5px;") Tweet Location
        div.infoBox.infoBoxAlt.Pad#infoBox6
          p Tweets your current location and embeds a link to your report. Caution: beta feature. 
        hr
    div.mapControls
        button.jQuerySlideButn.Pad.btn.btn-primary.btn-lg(type='button' style="margin-left: 30px;" onClick="saveLocation();")
          span.glyphicon.glyphicon-refresh(style="top: 2.5px;")
          span(style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; bottom: 15px;")&nbsp;&nbsp;Refresh
        button.jQuerySlideButn.btn.btn-info.btn-lg(type='button' style="float: right; margin-right: 30px;")
          span.glyphicon.glyphicon-globe(style="top: 2.5px;")
          a(href="/record_data" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; bottom: 15px; text-decoration: none; color: white;")&nbsp;&nbsp;Record
    br
    br
