extends layout

block content
  body(onLoad="saveLocation()" style="background-image: url('/images/cloud.png');")
  script.
    locationWatcher = new LocationWatcher();
      locationWatcher.startWatching();
  div#topBanner
    a#toggleMenu.toggle(href="#sidr")
      img(src="/images/hamborger.png" alt="test" style="height: 25px; width: auto;")
    p(style="color: white;") #{title}  
    
  div#sidr
        p.navLogo(style="text-align: center; font-size: 1.8em; margin-top: 15px;") Surveyor
        ul
          li
              a(href='/profile')
                img(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/48.jpg" style="border-radius: 99%; width: 45px; height: auto; margin-top: -5px;")
                | &nbsp;Tom Vanderheyden 
          //- li
          //-   a(href="/main") Dashboard 
          li
            a(href="/discover") Discover 
          li.active
            a(href="/record") Record


  //- div.content.Pad#dashboardContent
  //-   p Welcome to #{title}
  //-   a(href="/") Surveyor

  //- .float-button
  //-   a(href="")
  //-     p.content +

  div#map(style="width: 100%; height: 275px; top: 43px; display: block; z-index: -999;")
  br
  div#mapSeparator(style="background-color: #009688; z-index: 500; width: 100%; margin-bottom: 20px; height: 50px; display: table;")
    h4.Pad(style="height: 50px; text-align: center; ; color: white; font-weight: regular; position: absolute; display: table-cell; vertical-align: middle;")#locationField
    span#chevronUp.glyphicon.glyphicon-chevron-up(style= "float: right; display: table-cell; vertical-align: middle; margin-top: 12.5px; margin-right: 10px; color: white; font-size: 1.5em;")
    span#chevronDown.glyphicon.glyphicon-chevron-down(style= "float: right; display: table-cell; vertical-align: middle; margin-top: 12.5px; margin-right: 10px; color: white; font-size: 1.5em; display: none;")
  h3.status.Pad Recording location...&nbsp;
    img#spinner(src="/images/482.GIF" style="float: right; width: 19px; height: auto; top: -500px;")
  ol#locationTicker
  div#buttonControls.col-md-24.center-block(style="width: 100%; padding-right: auto; padding-left: 40px; float: none; position: absolute;")
    a(href="/record")
      button#backButton.btn.btn-success.btn-lg.disabled(type="button" style="margin-right: 10px;")
        span.glyphicon.glyphicon-arrow-left
    button#stopWatching.jQuerySlideButn.btn.btn-info.btn-lg(type='button' style="padding-bottom: 15px;")
      span.glyphicon.glyphicon-download-alt(style="top: 2.5px;")
      span(style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; bottom: 15px; text-decoration: none; color: white; text-align: center;")&nbsp;&nbsp;Stop recording & save
    br
    br
