@font-face {
    font-family: 'capsuularegular';
    src: url('/fonts/capsuula.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* 
{
	font-family: 'Roboto', sans-serif;
}

html, body
{
	height: 100%;
}

body {
  margin: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-image: url("http://puu.sh/i8Of6/9d05ac03db.png");
}

.noOverflow
{
	/*overflow: hidden;*/
}

a {
  color: #00B7FF;
}

.Pad
{
	padding-left: 30px;
	padding-right: 30px;
}

.navLogo
{
	font-family: "capsuularegular", Helvetica, sans-serif;
}

#topBanner
{
	top: 0;
	position: fixed;
	background-color: #00796b;
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 3px;
	z-index: 999;
}

#topBanner p
{
	float: right;
	margin-right: 40px;
	margin-top: 10px;
}

#toggleMenu
{
	float: left;
	/*margin-left: -20px;*/
	margin-top: 10px;
	margin-left: 15px;
}

.content
{
	margin-top: 25px;
}

#CtA
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: red;
	text-align: center;
}

#signUp button
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 50px;
}

.float-button {
  -webkit-border-radius: 99%;
  -moz-border-radius: 99%;
  border-radius: 99%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 10px; /* Adjust to where you want it */
  right: 25px; /* Adjust to where you want it */
  z-index: 9999;

  background-color: #ffd740;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 37%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: white;
}

.float-button:hover
{
	background-color: #ddb622;
}

#mapSeparator
{
	margin-top: 20px;
	height: 45px;
}

.controlsCheckbox
{
	float: right;
}

.controlsHelp
{
	font-size: 0.8em;
	color: gray;
	background-image: url("");
}

.infoBox
{
	color: gray;
	font-size: 0.9em;
	display: none;
	width: 375px;
	height: 25px;
	margin-top: 10px;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #1abc9c;
    background-image: linear-gradient(to bottom, #1abc9c, #16a084);
    border-color: #16a084 #16a084 #16a084;
}
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #16a084;
    background-image: linear-gradient(to bottom, #16a084, #16a084);
    border-color: #16a084 #16a084 #16a084;
}

.btn.btn-info {
    color: #ffffff;
    background-color: #e74d3c;
    background-image: linear-gradient(to bottom, #e74d3c, #c03a2b);
    border-color: #c03a2b #c03a2b #c03a2b;
}
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #c03a2b;
    background-image: linear-gradient(to bottom, #c03a2b, #c03a2b);
    border-color: #c03a2b #c03a2b #c03a2b;
}

.mapControls
{
	height: 17.5px;
}

.infoBoxAlt
{
	margin-top: 17px;
	height: 35px;
}

.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


.mdi.mdi-information-outline
{
	height: 5px;
	width: auto;
}

#locationTicker li
{
	height: 15px;
	/*list-style: none;*/
	margin-left: -7px;
}

#locationTicker hr
{
	margin-left: -35px;
}

#dashboardContent
{
	margin-top: 40px;
	background-image: url("/images/bru1.jpg");
	background-size: 460px;
	background-attachment: contain;
	height: 175px;
	width: auto;
}

.div_text_shadow
{
text-shadow: 1px 2px 5px #333333;
color: white;
}

.thumb
{
	width: 60px;
	height: auto;
	margin-right: 5px;
}

#dashboardContent2
{
	margin-top: 40px;
	background-image: url("/images/night2.jpg");
	background-size: 650px;
	background-attachment: contain;
	height: 75px;
	width: auto;
	margin-bottom: -15px;
}

.avatarThumb
{
	height: auto;
	width: 55px;
	border-radius: 99%;
	border: 3px solid #009688;
}